# Dependencies
node_modules/
*.local
package-lock.json

# Production
dist/
build/
*.log

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Misc
*.log
*.pid
*.seed
*.pid.lock
.env
.env.local
.env.*.local

_instructions
# Local Netlify folder
.netlify
.lsp
